*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center
}

tr{
    background-color: blue;
    width: 25px;
    margin-left: 1px;
    margin-right: 1px;
}

#main{
    display: flex;
}

nav {
    height: 100px;
    background-color: royalblue;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 3px 3px 6px black, -3px 3px 6px black;
    color: white;
    align-items: center;
}

button {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    color: lightblue;
    background-color: rgb(72, 114, 240)
}

select {
    color: white;
    background-color: royalblue;
    font-size: 20px;
    width: 20%;
    border: 1px solid;
    border-color: black;
    cursor: pointer;
}

select:hover {
    color: lightblue;
    background-color: rgb(72, 114, 240)
}

#tiempo {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

#color-container{
    display: flex;
    align-items: center;
}

.color{
    border: 1px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
    display: table;
    margin: 5px;
    min-height: 50px;
}

.color span{
    display: table-cell;
    vertical-align: middle;
}